.fa {
    
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;}
.fa:hover {
    opacity: 0.7;}

.sec{
    margin-left: 500px;
}
.flex-container{
    display: flex;

}
.flex-container>div {
    margin: 10px;
  padding: 10px;
  margin-bottom: -15px;
}

.icon{
    color: white;
}
.icon:hover{
    display: block;
    color: rgb(36, 122, 227);
}
.submit{
    float: right;
    width: 100px;
    margin-top: 15px;
}